*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
    background-color: antiquewhite;
}
.div{
box-shadow: 0 0 10px black;
background-color:  white;
height: 110px;
width: 200px;
border-radius: 10px;
}
h1{
    background-color: black;
    color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
.timer{
    font-size: 40px;
    margin-top: 6px;
}